{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">


		<link rel="stylesheet" href="{% static 'css/pblog.css' %}">
		<title>pBlog</title>
	</head>
	<body>
		<header class="page-header navbar navbar-expand-lg">
			<h1 class="navbar-brand"><a href="/">pBlog</a></h1>
		</header>

		<div class="content container-fluid">
			<div class="list-group">
				{% block content %}
				{% endblock %}
			</div>
		</div>
		
	</body>
</html>

