<div class="post card">
	<div class="card-body">
		<h1 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
		{% if post.picture %}
			<img src="{{ post.picture.url }}">
		{% endif %}
		<p>{{ post.text | linebreaksbr }}</p>
	</div>
	{% if post.published_date %}
		<div class="date card-footer">
			<small class="text-muted">
				Published on {{ post.published_date }} by <a href="{% url 'user_posts' username=post.author %}">{{ post.author }}</a>
			</small>
		</div>
	{% endif %}
</div>
